<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NSE, Nuclei & Nmap Explorer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1><span class="highlight">NSE, Nuclei & Nmap</span> Explorer</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Powered by <span class="trhacknon">trhacknon</span></p>
    </footer>
</body>
</html>
